*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.header-container{
    background-image: linear-gradient(to right,#FAA401, #FA8814);
    height: 420px;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    font-family: fonte2;
    background-image: linear-gradient(to right,#FAA401, #FA8814);
}
.menu-container .nome-acai{
    font-size: 16px;
}
.menu-container .carrinho{
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    padding: 6px;
    border-radius: 12px;
    transition: 0.5s;
    cursor: pointer;
    background-color: #fa942d;

    
    .valor{
        margin: 0;
    }
}
.menu-container .carrinho:hover{
    background-color: #faa30198;
    transform: scale(1.1);
}
span.icai{
    color: white;
}
span.icee{
    color: #900cc9;
}
.header-container h2{
    font-family: fonte2;
    text-align: center;
    font-size: 3em;
    margin-top: 50px
}
.header-container p{
    color: white;
    font-family: fonte6;
    text-align: center;
    margin: 12px auto 25px auto;
    max-width: 310px;
}

.ver-cardapio-container{
    display: flex;
    margin: 0px auto 25px auto;
    align-items: center;
    padding: 12px;
    gap: 6px;
    background-color: #980cd4;
    border: 0px;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.5s;
}
.ver-cardapio-container:hover .ver-cardapio-icon{
    transform: scale(1.1);
    transform: translateY(3px);
}
.ver-cardapio-container:hover{
    background-color: #b915ff;
}
.ver-cardapio-text a{
    font-size: 1.3em;
    color: white;
    font-family: fonte3;
    text-decoration: none;
}
.ver-cardapio-icon{
    color: white;
    transition: 0.5s;
}
section.produtos-carrinho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* carrinho lateral */

.cart-items-container{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 450px;
    height: 100%;
}
@media (max-width: 453px){
    .cart-items-container{
        width: 100%;
    }
}
.header-cart-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: #FA8814;
    color: white;
}
.header-cart-items h1{
    font-family: fonte3;
    font-size: 26px;
}
div.icon-cart-items i{
    cursor: pointer;
}
div.linha-carrinho p{
    color: black;
    margin: 0;
}
div.linha-carrinho{
    display: flex;
    gap: 50px;
}
div.linha-carrinho button{
    align-items: center;
    padding: 2px;
    border-radius: 12px;
    border: 0px;
    background-color: #900cc900;
    font-size: 28px;
    cursor: pointer;
}
button.btn-finalizar-pedido{
    background-color: #15d86f;
    color: white;
    font-family: fonte2;
    border: 0px;
    padding: 10px 12px;
    width: 140px;
    border-radius: 12px;
    align-content: flex-end;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
}
div.total-carrinho{
    font-family: fonte3;
}

div.nossos-produtos{
    text-align: center;
    font-family: fonte6;
}
div.nossos-produtos h3{
    color: #9c17f5;
    margin-top: 35px;
    font-family: fonte3;
    font-size: 1em;
}
div.nossos-produtos h1{
    font-family: fonte2;
}
div.nossos-produtos p{
    max-width: 380px;
    margin: 6px auto 25px auto;
    color: gray;
}
div.nossos-produtos .acai{
    font-size: 40px;
    font-weight: 800;
    background: linear-gradient(90deg, #9C35E3, #E6469E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section.produtos-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
@media (max-width: 345px){
    section.produtos-container{
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    }
}
article img{
    width: 100%;
    height: 300px;
    margin: 0px auto 0px auto;
    border-radius: 12px 12px 0px 0px ;
}
article.produto{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.137);
    border-radius: 12px;
    height: 500px;
}
.nome-produto{
    font-family: fonte2;
}
.descricao-produto{
    max-width: 220px;
    font-family: fonte6;
    padding-bottom: 7px;
    margin: auto;
}
.tamanho-valor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    padding-top: 12px;
    font-family: fonte4;
    flex-grow: 1;
}
.tamanho-valor button{
    padding: 12px;
    border: 0px;
    border-radius: 12px;
    background-image: linear-gradient(to right,#FAA401, #FA8814);
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.tamanho-valor button:hover{
    transform: scale(1.1);
}




